body {
    background-color: #1E1E1E;
    color: #E0E0E0;
    font-weight: 300;
    font-size: medium;
    font-family: "Inter";
}

canvas {
    background-color: #121212;
    padding: 0;
    margin: auto;   
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}